# Coolify Configuration
COOLIFY_TOKEN=YOUR_COOLIFY_TOKEN # You can find this in the 'Keys & Tokens section > API Tokens' of your Coolify instance (API should be enabled)
COOLIFY_IP=YOUR_COOLIFY_IP # Your Coolify server IP, without the port number (e.g. 192.168.1.1)

# Database
DB_NAME=selfkit-db
DB_USER=selfkit

# Umami
UMAMI_NAME=selfkit-umami
UMAMI_VERSION=latest

# Plunk
PLUNK_NAME=selfkit-plunk
PLUNK_VERSION=latest

# GitHub
GITHUB_APP_NAME=YOUR_GITHUB_APP_NAME # You can find this in the Sources tab of your Coolify instance
GITHUB_BRANCH=main
GITHUB_REPOSITORY=YOUR_GITHUB_REPOSITORY # Your GitHub repository URL
GITHUB_APP_UUID=YOUR_GITHUB_APP_UUID # You can find this in the 'Sources > YOUR_GITHUB_APP_NAME >' tab, at the end of the url

# App
APP_NAME=selfkit
APP_URI=YOUR_APP_URI # (e.g. https://mysaas.com)